services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/usr/src/app
      # Persistent SQLite DB lives here (named volume)
      - backend_db:/usr/src/app/data
    environment:
      # Absolute path INSIDE container
      - DATABASE_URL=sqlite:////usr/src/app/data/app.db

    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  backend_db:

  # web:
  #   build:
  #     context: ./web
  #     dockerfile: Dockerfile
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ./web:/usr/src/app
  #     - /usr/src/app/node_modules
